<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Part</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
  <h1>Edit Part</h1>
  <form role="form" th:action="@{/parts/{partsId}/edit(partsId=${part.id})}" th:object="${part}" method="post">
    <div class="form-group">
      <label for="issue">Issues:</label>
      <select class="form-control" id="issue" name="issue"  required>
        <option th:each="issue : ${issues}" th:value="${issue.id}" th:text="${issue.description}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
    </div>
    <div class="form-group">
      <label for="domesticMarket">Domestic Market:</label>
      <select class="form-control" id="domesticMarket" name="domesticMarket" th:field="*{domesticMarket}" required>
        <option value="USA">USA</option>
        <option value="Europe">Europe</option>
        <option value="Asia">Asia</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>
</body>
</html>